@font-face {
  font-family: 'Arquitecta';
  src: url(ArquitectaBook\ \(1\).otf);
}

@font-face {
  font-family: 'Bodoni 72 Smallcaps Book';
  src: url(Bodoni\ 72\ Smallcaps\ Book.ttf);
}

body {
  background-color: rgb(231, 226, 220);
  display: block;
  margin: 50px;
  margin-top: 70px;
  }

header {
      width: 500px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 100px;
}

h2 {   
  font-family: 'Bodoni 72 Smallcaps Book', serif;
  font-size: 13pt;
  text-align: center;
  color: rgb(211, 11, 82);
}

.body-text {
  font-family: "Arquitecta", sans-serif;
  font-size: 13pt;
  text-align: justify;
}


.center-column {
  max-width: 450px;     /* controla a largura */
  margin: 0 auto;        /* centra o bloco */
  position: relative;
  top: 0;
}

.container00 {
  position: absolute;
  top: 5px;
  left: -41px;
}

.show-more:hover .show-more-content {
  display: block;
  position: absolute;
  width: 250px;
  left: calc(100% + 25%);
  top: 0;
}

.show-more:hover .show-more-option {
  color: #0099ff";
}

.show-more-content {
  display:none;
}

.show-more-text {
  font-family: 'Bodoni 72 Smallcaps Book', serif;
  text-align: left;
  font-size: 20pt;
  color: rgb(211, 11, 82);
  line-height: 1;
}

.pdf-read-more:hover {
  color: rgb(211, 11, 82);
}

.pdf-read-more {
  font-family: "Arquitecta", sans-serif;
  text-align: center;
  font-size: 10pt;
  color: black;
}
